body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
}

a {
    text-decoration: none;
}

li:hover {
    background: #f0f0f0;
}

.listTextItem {
    white-space: nowrap;
    width: 600px;
    overflow: hidden;
    padding: 7px;
    text-overflow: ellipsis;
    color: black;
}

.textTwoLines {
    height: 40px;
}

.withMargin {
    margin: 15px;
}

.center {
    text-align: center;
}

section {
    width: 700px;
    margin-left: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

figure {
    width: 400px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -200px;
}